assets/GRCh38/index_bowtie/*
assets/GRCh38/index_fastahack/*
docker/assets/*
**/.DS_Store
.DS_Store
.nextflow*
work*
nextflow_dev.config
README.html
.Rhistory
assets/GRCh38/known_exons_GRCh38.bed
assets/WBcel235/known_exons_WBcel235.bed
assets/GRCm39/known_exons_GRCm39.bed
assets/GRCz11/known_exons_GRCz11.bed
assets/xenTro9/known_exons_xenTro9.bed
