profiles {

  singularity {
    singularity.enabled = true
    process.container = 'oncornalab/primerxl_circ:v0.26'

  }

  local {
  	docker.enabled = true
    process.container = 'oncornalab/primerxl_circ:v0.26'

  }

  example {
    docker.enabled = true
    process.container = 'oncornalab/primerxl_circ:v0.26'
    params.output_dir = "example/output"
    params.input_bed = "example/input_circRNAs.bed"
    params.index_fasta = "example/index_fastahack"
    params.index_fasta_name = "Homo_sapiens.GRCh38.dna.primary_assembly_small.fa"
    params.index_bowtie = "example/index_bowtie"
    params.index_bowtie_name = "hg38_cdna_small"
  }

  nf_runner {
    docker.enabled = false
  }

  
}