profiles {

  singularity {
    singularity.enabled = true
    process.container = 'oncornalab/primerxl_circ:v0.27'

  }

  local {
  	docker.enabled = true
    process.container = 'oncornalab/primerxl_circ:v0.27'

  }

  example {
    docker.enabled = true
    process.container = 'oncornalab/primerxl_circ:v0.27'
    params.output_dir = "$baseDir/example/output"
    params.input_bed = "$baseDir/example/input_circRNAs.bed"
    params.index_fasta = "$baseDir/example/GRCh38/index_fastahack"
    params.index_fasta_name = "GRCh38.dna.primary_assembly_small.fa"
    params.index_bowtie = "$baseDir/example/GRCh38/index_bowtie"
    params.index_bowtie_name = "GRCh38_dna_small"
    params.known_exons = "$baseDir/example/GRCh38/known_exons_GRCh38_small.bed"
  }

  nf_runner {
    docker.enabled = false
  }

  
}